.answer {
  background-color: inherit;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  margin: 3px;
  padding: 5px;
  cursor: pointer;
}

.correct {
  background-color: seagreen;
  color: white;
}

.incorrect {
  background-color: orangered;
  color: black;
}
