<form #quizForm="ngForm" (ngSubmit)="onSubmit(quizForm)">
  <div class="form-group">
    <select name="categorySelect" id="categorySelect" class="form-select" ngModel required>
      <option value="" [selected]="true" [disabled]="true">Select a category</option>
      <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.name }}</option>
    </select>
    <select name="difficultySelect" id="difficultySelect" class="form-select" ngModel required>
      <option value="" [selected]="true" [disabled]="true">Select difficulty</option>
      <option *ngFor="let difficulty of difficulties; index as i" value="{{ i }}">{{ difficulty }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" id="createBtn" [disabled]="quizForm.invalid">Create</button>
</form>
